<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<form action="#" th:action="@{/sauvegardeUser}" th:object="${userForm}"
		method="post">

		<p>Login</p>
		<input type="text" name="login" placeholder="Nom" required="true" />
		<span th:if="${#fields.hasErrors('login')}" th:errors="*{login}" />
		<p>Mot de passe</p>
		<input type="password" name="password" placeholder="password"
			required="true"></input> 
			<span
			th:if="${#fields.hasErrors('password')}" th:errors="*{password}" /> 
			<input
			th:type="submit" value="OK" />

	</form>

</body>
</html>